@import '../../styles/vars';
.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: $header_height;
    left: 0;
    transition: all .3s linear;
    transform: translateX(100%);
    z-index: 10;
    &.active {
        transform: translateX(0);
    }
    .blur {
        position: absolute;
        left: 30vw;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(2px);
    }
    .container {
        width: 30vw;
        height: 100vh;
        background-color: $primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 28px;
        a {
            width: 100%;
            text-align: center;
            font-size: 28px;
            // color: rgb(211, 211, 211);
            color: $text_light;
            transition: all .2s ease;
            padding: 14px 0;
            &.active {
                background-color: $primary_dark;
            }
            &:hover {
                background-color: $primary_dark;
            }
        }
    }
}